body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #543900;
  margin: 0;
  padding: 0;
  .container{
    padding: 1rem;
    flex: 1;
    aspect-ratio: 1 / 1;
    .chess-board{
      height: 100%;
      width: 100%;
      aspect-ratio: 1 / 1;
      border: #251811 solid 2px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap-reverse;
      .allowed::before{
        content: "";
        border-radius: 50%;
        width: 80%;
        height: 80%;
        background: black;
        opacity: 20%;
        position: absolute;
        left: 10%;
        bottom: 10%;
      }
      .allowed::after{
          content: "";
          border-radius: 50%;
          width: 60%;
          height: 60%;
          background: black;
          opacity: 10%;
          position: absolute;
          left: 20%;
          bottom: 20%;
        }
      .position{
        height: 12.5%;
        width: 12.5%;
        background: #d0a978;
        position: relative;
        div{
          display: flex;
          flex-direction: column-reverse;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: 100%;
          transition: 0.3s;
          svg{
            height: 80%;
            path{
              box-shadow: 10px 0 0;
            }
          }
        }
      }
      > :nth-child(odd).even{
        background: #986c36;
      }
      > :nth-child(even).odd{
        background: #986c36;
      }
    }
  }
}


/* Flip every even row */