body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #543900;
  margin: 0;
  padding: 0;
}

body .container {
  padding: 1rem;
  flex: 1;
  aspect-ratio: 1 / 1;
}

body .container .chess-board {
  height: 100%;
  width: 100%;
  aspect-ratio: 1 / 1;
  border: #251811 solid 2px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
}

body .container .chess-board .allowed::before {
  content: "";
  border-radius: 50%;
  width: 80%;
  height: 80%;
  background: black;
  opacity: 20%;
  position: absolute;
  left: 10%;
  bottom: 10%;
}

body .container .chess-board .allowed::after {
  content: "";
  border-radius: 50%;
  width: 60%;
  height: 60%;
  background: black;
  opacity: 10%;
  position: absolute;
  left: 20%;
  bottom: 20%;
}

body .container .chess-board .position {
  height: 12.5%;
  width: 12.5%;
  background: #d0a978;
  position: relative;
}

body .container .chess-board .position div {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  transition: 0.3s;
}

body .container .chess-board .position div svg {
  height: 80%;
}

body .container .chess-board .position div svg path {
  box-shadow: 10px 0 0;
}

body .container .chess-board > :nth-child(odd).even {
  background: #986c36;
}

body .container .chess-board > :nth-child(even).odd {
  background: #986c36;
}

/* Flip every even row */
